<% if reservations_time? %>
  <p>
    <% unless today.full? %>
      <%= button_to 'prenota', slots_path, :method => :post, :class => 'bookme' %>
    <% else %>
      Spiacente, il clan oggi è già al completo.
    <% end %>
  </p>
  <p class="warning">Attenzione: non abusarmi, se ti prenoti e poi non partecipi al pranzo verrai bannato!</p>
<% else %>
  <p>Le prenotazioni ora sono chiuse. Ripassa tra le 10:00 e le 12:00</p>
<% end %>

<h2>Persone prenotate per oggi</h2>
<ul>
  <li>Andrea Longhi</li>
  <% today.user_names.each do |name| %>
    <li><%= name %></li>
  <% end %>
</ul>