<h3>Feedback</h3>
<% @ratings.each do |day, ratings| %>
  <h4><%= day.date %></h4>
  <% ratings.each do |rating| %>
    <p>
      <span class="name"><%= rating.user_name %></span>
      <span class="rating"><%= rating.value %></span>
    </p>
  <% end %>
<% end %>