<h2>Le regole del clan</h2>
<ul class="rules">
  <li>il clan è composto al massimo da 3 persone</li>
  <li>non è possibile disdire la prenotazione, quindi prenotati solo se sei sicuro</li>
  <li>puoi pranzare nel clan al massimo due giorni di fila, dopo ne farai almeno uno di pausa</li>
  <li>se ti prenoti e poi non partecipi al pranzo verrai bannato per un mese. Al terzo ban sei fuori per sempre</li>
  <li>la partecipazione richiede un ruolo attivo: aiutare nella preparazione del pranzo, lavare le pentole, o qualisasi altra cosa utile tu sappia fare in cucina</li>
  <li>il venerdì le iscrizioni sono libere, alle 12 verranno sorteggiati i fortunati che parteciperanno al pranzo (roulette)</li>
</ul>
