<h2>Le regole del clan</h2>
<ul class="rules">
  <li>il clan è composto al massimo da 3 persone</li>
  <li>non è possibile disdire la prenotazione, quindi cerca di prenotati solo se sei sicuro</li>
  <li>nel caso tu non possa partecipare al pranzo dovrai trovare un sostituto; dovrai comunque sostenere le spese del pranzo che ti sarebbero spettate</li>
  <li>puoi pranzare nel clan al massimo due giorni di fila, dopo ne farai almeno uno di pausa</li>
  <li>se ti prenoti e poi non partecipi al pranzo (o non trovi un sostituto) verrai bannato per una settimana; al terzo ban sei fuori per sempre</li>
  <li>la partecipazione richiede un ruolo attivo: aiutare nella preparazione del pranzo, lavare le pentole, o qualsiasi altra cosa utile tu sappia fare in cucina</li>
  <li>il venerdì le iscrizioni sono libere, alle 12:00 l'applicazione sorteggerà i fortunati che parteciperanno al pranzo</li>
  <li>se contribuisci sensibilmente a migliorare l'applicazione verrai iscritto al clan ad honorem per 2 giorni a tua scelta</li>
</ul>
