// Place all the styles related to the days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url(/bg.jpg) repeat;
  font-family: 'Fjalla One', sans-serif;
}

#container {
  p.login {
    text-align: center;
    a {
      color: green;
    }
  }
  margin: 25px auto;
  width: 500px;
  background: white;
  padding: 30px;
  border: 6px solid #444;
  border-radius: 20px;
  img {
    margin: 0 auto;
    display: block;
    width: 350px;
  }
  p {
    text-align: center;
    font-size: 15px;
    &.notice {
      color: green;
      margin: 30px 0;
    }
    &.alert {
      color: red;
      margin: 30px 0;
    }
  }
  h1, h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 34px;
    color: #E00000;
  }
  h2 {
    margin-top: 60px;
    font-size: 20px;
  }
  ul {
    list-style-type: none;
  }
  input.bookme {
    color: green;
    margin: 30px auto;
    display: block;
    border: 2px solid green;
    border-radius: 8px;
    background: #bff9a5;
    cursor: pointer;
    width: 110px;
    height: 40px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 0.1em;
  }
  ul.rules {
    li {
      margin: 20px 0;
      font-size: 15px;
    }
  }
  p.notes {
    font-size: 12px;
  }
  footer {
    p {
      font-size: 12px;
      color: gray;
    }
  }
  section#navigation {
    color: gray;
    text-align: center;
    a {
      font-size: 15px;
    }
  }
  table.users-admin {
    margin: 0 auto;
    width:500px;
    border:1px solid gray;
    border-radius: 5px;
    padding:10px;
    td {
      text-align:center;
    }
    font-size: 14px;
  }
  .ban {
    color: orange;
  }
  .destroy {
    color: red
  }
  .unban {
    color: green;
  }
}
