// Place all the styles related to the days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url(/bg.jpg) repeat;
  font-family: 'Fjalla One', sans-serif;
}

a {
  color: blue;
  text-decoration: none;
}

#container {
  p.login {
    text-align: center;
    a {
      color: green;
    }
  }
  margin: 25px auto;
  width: 500px;
  background: white;
  padding: 30px;
  border: 6px solid #444;
  border-radius: 20px;
  img {
    margin: 0 auto;
    display: block;
    width: 350px;
  }
  p {
    text-align: center;
    font-size: 15px;
    &.notice {
      color: green;
      margin: 30px 0;
    }
    &.alert {
      color: red;
      margin: 30px 0;
    }
  }
  h1, h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 34px;
    color: #E00000;
  }
  h2 {
    margin-top: 60px;
    font-size: 20px;
  }
  ul {
    list-style-type: none;
  }
  input.bookme {
    color: green;
    margin: 30px auto;
    display: block;
    border: 2px solid green;
    border-radius: 8px;
    background: #bff9a5;
    cursor: pointer;
    width: 110px;
    height: 40px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 0.1em;
  }
  ul.rules {
    li {
      margin: 20px 0;
      font-size: 15px;
    }
  }
  p.notes {
    font-size: 12px;
  }
  footer {
    p {
      font-size: 12px;
      color: gray;
    }
  }
  section#navigation {
    color: gray;
    text-align: center;
    a {
      font-size: 15px;
    }
  }
  table.users-admin, .slots-admin, .bets-admin {
    margin: 0 auto;
    width:500px;
    padding:10px;
    td {
      text-align:center;
    }
    font-size: 14px;
  }
  .ban {
    color: orange;
  }
  .destroy {
    color: red
  }
  .unban {
    color: green;
  }
  .rating {
    width: 85px;
    margin: 15px auto 40px auto;
    padding: 10px 13px;
    clear: both;
    overflow: auto;
    .rating-cancel {
      display: none !important;
    }
  }
}

.ratings {
  margin: 0 auto;
  width: 450px;
  th, td {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 14px;
    width: 166px;
    span {
      height: 16px;
      width: 16px;
      background: url('/assets/star.gif') no-repeat;
      display: inline-block;
      &.on {
        background-position: 0 -32px;
      }
    }
  }
  th {
    text-transform: uppercase;
    padding-bottom: 10px;
  }
}

div.star-rating-on a {
  background-position:0 -32px!important;
}
div.star-rating-hover a {
  background-position:0 -16px;
}

.pagination {
  text-align: center;
  margin-top:25px;
  font-size:14px;
}

.black {
  background: black;
  padding: 15px 10px;
  border: 3px solid red;
  line-height: 180%;
}