<h2>Iscrizioni Roulette</h2>

<table class="bets-admin">
  <tr>
    <th>nome</th>
    <th>azioni</th>
  </tr>
  <% @bets.each do |bet| %>
    <tr>
      <td><%= bet.user_name %></td>
      <td><%= link_to 'elimina', admin_bet_path(bet), :method => :delete, :class => 'destroy' %></td>
    </tr>
  <% end %>
</table>